<!-- views/partials/footer.ejs -->
  <!-- ✅ Footer stays at bottom -->
  <footer class="bg-[#0F044C] text-white text-center py-4">
     <p>©2025 Schedulo</p>
  <p>
    <a href="/about" class="underline hover:text-gray-300 transition">About Us</a>
  </p>
  </footer>
</body>
</html>